.component5-container {
  display: flex;
  position: relative;
}
.component5-image {
  width: 50px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
}
